<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.remove.bg%2Fko&psig=AOvVaw1qZK0TeJA3VJ2u4XJeJ3kY&ust=1618890659902000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDJ8-ezifACFQAAAAAdAAAAABAD" class="center">

<div class="container">
			
{{ content }}
			
</div>
		
<div class="icon-bar">
  <a href="#"><i class="fa fa-home"></i></a>
  <a href="#"><i class="fa fa-heart"></i></a>
  <a href="#"><i class="fa fa-thumbs-up"></i></a>
  <a href="#"><i class="fa fa-search"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
  
</div>	
		
	</body>
</html>
